* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif; 
    background-color: #f8f8f8;
    overflow: hidden;
}
header {
    background-color: #ff494b; 
    padding: 20px 0;
    text-align: center;
    color: white;
}
header h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 70px; 
    margin: 0 auto; 
}
nav {
    background-color: #111111; 
    padding: 10px 0;
    text-align: center;
}
nav a {
    color: #ffffff; 
    text-decoration: none;
    font-weight: bold;
    margin: 0 80px;
}
nav a:hover {
    color: #ff0800;
}
main {
    background-color: #f8f8f8;
    padding: 20px;
    flex-grow: 1;
}
iframe {
    border: 0;
    width: 100%;
    height: 750px;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #ff494b;
    text-align: center;
    color: white;
    padding: 10px 0;
}